body { background: #6a4726; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 49px; display: flex; }
.block-cluster-0 { color: #fbfe5c; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #42a13f; font-size: 13px; margin-bottom: 5px; }
.block-logger-2 { color: #880c12; font-size: 21px; margin-bottom: 5px; }
.block-token-3 { color: #6e5ded; font-size: 21px; margin-bottom: 5px; }
.block-validator-4 { color: #c6e51b; font-size: 20px; margin-bottom: 5px; }
.block-uploader-5 { color: #3731ea; font-size: 19px; margin-bottom: 5px; }